@font-face{
    font-family:'montserrat-bold';
    src:url('../font/Montserrat-Bold.otf');
}
@font-face{
    font-family:'montserrat';
    src:url('../font/Montserrat-Regular.otf');
}

@font-face{
    font-family:'lba';
    src:url('../font/LaBelleAurore-Regular.woff2');
}

html > div[style] { /*disable pop out video*/
    display: none !important;
}

body{
    background-color: #141414;
    color: #d8d8d8;
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

.menuItems{
    z-index: 2;
    font-family:montserrat-bold;
    font-size:larger;
    width: 90%;
    margin:0;
    top:0;
}

nav{
    float:right;
}

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#d8d8d8;
}

nav a:hover{
    color:white;
}

nav a:not(.active)::before{
    content:'';
    display:block;
    position:absolute;
    height:5px;
    width:0%;
    background-color:#1cff00;
    top:0;
    transition:all ease-in-out 250ms;
}

nav a:not(.active):hover::before{
    width:100%;
}

.active{
    color:white;
}

.active::before{
    content:'';
    display:block;
    background-color:#1cff00;
    height:5px;
    width:100%;
    top:0;
    position:absolute;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: #f1f1f1;
}


input[type=submit] {
    background-color: #4CAF50;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input{
    font-family:'montserrat';
}

canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  /* Add a background color and some padding around the form */
.container {
    padding: 10px;
    color:#ccc;
    font-family:'montserrat';
}


.graytext{
    font-family:'lba';
    font-size:10pt;
    color:#575757;
}

.card{
    line-height:15px;
    padding-left:15px;
    width:80%;

}

p:not(.graytext){
    font-family:montserrat;
    line-height:20px;
}
h1, h2, h3{
    font-family:montserrat-bold;
}

.skillList{
    font-family:montserrat;
    line-height:20px;
    list-style-type:square;
}

.skillList > li {
    list-style-type: none;
    margin: 10px 0 10px 0;
}

.strength-bar{
    width:70%;
    background: grey;
    height:2px;
}

#opencv-bar{
    width:50%;
    height:100%;
    background-color:#1cff00;
}

#selenium-bar{
    width:80%;
    height:100%;
    background-color:#00fbff;
}

#bs4-bar{
    width:40%;
    height:100%;
    background-color:#1cff00;
}

#discordpy-bar{
    width:75%;
    height:100%;
    background-color:#00fbff;
}

#nodejs-bar{
    width:90%;
    height:100%;
    background-color:#1cff00;
}

#p5-bar{
    width:50%;
    height:100%;
    background-color:#00fbff;
}

#es6-bar{
    width:40%;
    height:100%;
    background-color:#1cff00;
}

#jquery-bar{
    width:45%;
    height:100%;
    background-color:#00fbff;
}


h2 span:not(.graytext):active{
    position: relative;
    top: 5px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    color:aqua;
}

.project-box {
    width:fit-content;
    border: 5px solid #fafafa;
    font-family:'montserrat';
    background-color: #fafafa;
    color:black;
    padding-top:10px;
    text-align: center;
    margin: 0 auto;
}

.project-section{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-icon{
    width:450px; 
    position:relative;
}